#main-background{
	-fx-background-color: #6e7175;
}

#button{
	-fx-background-color: #46729c;
	-fx-text-fill: #ffffff;
}

.separator .line {
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 15;  
}

#borderpane-spacer {
	-fx-background-color: #576385;
}