# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/

# Ignore release jar
releases/reversi-fddlj.jar

# Eclipse IDE
/.classpath
/.project
/.settings/
.DS_Store
.idea



