# Test Report
The reversi project has been unit tested with an overall coverage of 29.5%. The low number is due to the gui not being tested. The model itself has a coverage of 96.8 %. Coverage details can be obtained from the report available in the folder 'coverage'. The test suite contains a system/intergration test for playing games over a network connection.

The gui has been tested manually by the developers. This includes testing of correct game behaviour and layout across different screen resolutions.